Flask==3.0.0
Jinja2
httpx==0.25.2
supabase==2.3.1
supafunc==0.3.3
postgrest==0.13.2
gotrue==2.9.2
gunicorn
Flask-Caching
python-dotenv==1.0.0
pandas==2.1.4
numpy==1.24.4
requests
python-telegram-bot==22.0
pillow
matplotlib==3.8.2
python-binance==1.0.19
pycryptodome==3.19.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
aiohttp==3.9.1