{% extends "admin/admin_base.html" %}

{% block admin_title %}Calcular Margen{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin.index') }}">Módulo Restringido</a></li>
    <li class="breadcrumb-item active" aria-current="page">Calcular Margen</li>
  </ol>
</nav>
{% endblock %}

{% block admin_content %}
<div class="container-fluid mt-2">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card shadow-lg">
        <!-- Cabecera del card -->
        <div class="card-header bg-azul-oscuro text-white text-center">
          <h3 class="mb-0">Calcular Margen</h3>
        </div>
        <div class="card-body">
          <form id="calcular-margen-form" action="{{ url_for('admin.calcular_margen') }}" method="GET">
            <div class="mb-3">
              <label for="fecha" class="form-label">Selecciona una fecha:</label>
              <input type="date" id="fecha" name="fecha" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-lg btn-custom w-100">Calcular Margen</button>
          </form>
        </div>
        <div class="card-footer text-center">
          <a href="{{ url_for('admin.index') }}" class="btn btn-lg btn-custom">Volver</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}